<div class="container">
    <div class="row">
        <div class="col-md-12"><br /><br />
            <h3 align="center">งานที่เสร็จแล้ว </h3>
            <form action="" method="POST" name="register" id="register">
                <table class="table table-bordered">
                    <thead class="thead-dark ">

                        <tr>
                            <th scope="col">รหัส</th>
                            <th scope="col">ชื่องาน</th>
                            <th scope="col">เบอร์โทร</th>
                            <th scope="col">ผู้รับผิดชอบ</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>

                            <td>119</td>
                            <td>ติดกล้อง</td>
                            <td>0612272083</td>
                            <td>0612272083</td>
                        </tr>
                        <tr>

                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                    </tbody>
                </table>

                <!-- <ngb-pagination class="d-flex justify-content-end" [collectionSize]="100">
                </ngb-pagination> -->
                <ngb-pagination  class="d-flex justify-content-end" [collectionSize]="70" [(page)]="page"></ngb-pagination>
            </form>



            