<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap" rel="stylesheet">
    <style>
        th {
            background-color: #56c7dd;
            color: rgb(8, 8, 8);
        }

        h3,
        h2 {
            font-family: 'Prompt', sans-serif;
        }
    </style>
</head>

<div class="col-sm-13">
    <h2 align="center" class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">ลูกค้าประเมิน</h2>
</div>

<div class="row">
    <div class="col-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">ติดกล้อง</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>

            <div class="card-body">
                <div class="chart">
                    <canvas id="areaChart" class="chartjs-render-monitor"></canvas>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">เขียนเว็บ</h3>
    
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
    
                <div class="card-body">
                    <div class="chart">
                        <canvas id="areaChart" class="chartjs-render-monitor"></canvas>
                    </div>
                </div>
            </div>
        </div>

    <!-- <canvas id="chart-funnel-example"></canvas> -->

    <div class="col-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">ระบบบัญชี</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>

            <div class="card-body">
                <div class="chart">
                    <canvas id="areaChart1" class="chartjs-render-monitor"></canvas>
                </div>
            </div>
        </div>
    </div>