<div class="container">
    <div class="row">
        <div class="col-md-12"><br /><br /><br />
            <h3 align="center">งานทั้งหมดเดือนนี้ </h3>
            <form action="" method="POST" name="register" id="register">

                <table class="table table-bordered">
                    <thead class="thead-dark">

                        <tr>
                            <th scope="col">ชื่องาน</th>
                            <th scope="col">รหัส</th>
                            <th scope="col">เบอร์โทร</th>
                            <th scope="col">สถานะ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr> 
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>


                    </tbody>
                </table>

                <ngb-pagination class="d-flex justify-content-end" [collectionSize]="100" [(page)]="page">
                </ngb-pagination>